/* How It Works Connectors */
.how-it-works .grid-4 {
  position: relative;
}

@media (min-width: 1024px) {
  .step {
    position: relative;
    z-index: 1;
  }

  .step:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 30px; /* Aligns with center of step-number (60px height) */
    right: -50%;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to right, var(--black) 50%, transparent 50%);
    background-size: 20px 100%;
    z-index: -1;
  }
}

